@tailwind components;

@layer components {
  .about {
    padding: 0;
  }

  .about img {
    padding: 0;
  }

  section {
    padding: 0;
  }

  .text h1 {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
  }

  .text h2 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .text ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
