@tailwind components;

@layer components {
  .home {
    text-align: center;
    padding: 0px;
    background-color: #f5f5f5;
  }

  .hero {
    background: url("https://www.w3schools.com/howto/photographer.jpg")
      no-repeat center center;
    color: white;
    padding: 100px 20px;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero h1 {
    font-size: 3em;
    margin: 0;
  }

  .hero p {
    font-size: 1.5em;
    margin: 20px 0;
  }

  .cta-button {
    background-color: #ff7f50;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .cta-button:hover {
    background-color: #ff6347;
  }
}
