@tailwind components;

@layer components {
  /* .home {
    text-align: center;
    padding: 0px;
    background-color: #f5f5f5;
  }

  .hero {
    background: url("https://www.w3schools.com/howto/photographer.jpg")
      no-repeat center center;
    color: white;
    padding: 100px 20px;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero h1 {
    font-size: 3em;
    margin: 0;
  }

  .hero p {
    font-size: 1.5em;
    margin: 20px 0;
  }

  .cta-button {
    background-color: #ff7f50;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .cta-button:hover {
    background-color: #ff6347;
  } */

  .HomeHero {
    display: flex;
    flex-direction: row;
    background-image: url("./assets/Homebanner.png");
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    border-radius: 6px;
    
  }
  
  .HomeHeroText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin: 48px;
    
    
  }
  
  .HomeHeroText h1 {
    font-weight: bolder;
    font-size: 5rem;
  }
  
  .HomeHeroText h3 {
    font-weight: bolder;
    font-size: 1.3rem;
  }
  
  .HomeHeroText a {
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: rgb(255, 198, 41);
    border-radius: 16px;
    block-size: 40px;
    text-align: center;
    width: 12rem;
  }
}
