@tailwind components;

@layer components {
  .container {
    margin: 0;
    padding: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .backToHome {
    margin: 3rem 0 0;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .search_section {
    @apply relative m-[20px] my-0 hidden md:flex;
    @apply lg:m-[80px] lg:my-0 lg:ml-[20px];
    width: calc(100%);
    max-width: calc(100% - 290px);
  }

  .nav_right {
    @apply flex w-full items-center justify-end space-x-4;
    max-width: calc(100% - 600px);
    @apply md:max-w-screen-sm lg:max-w-screen-md;
  }

  /* HomePage */

  .HomeHero {
    display: flex;
    background-image: url("./assets/images/Homebanner.png");
    height: calc(100vh - 60px);
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
  }

  .HomeHeroText {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* gap: 16px; */
    width: 50%;
    padding: 48px;
  }

  /*
  .HomeHeroText h1 {
    font-weight: bold;
    font-size: 5rem;
    margin: 0;
    padding: 0;
  }
  */

  /*
  .HomeHeroText h3 {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }
  */

  .HomeHero a {
    background-color: rgb(255, 198, 41);
    border-radius: 26px;
    width: 200px;
    text-align: center;
    padding: 0.5rem;
  }
}
