@tailwind components;

@layer components {
  .container {
    margin: 0;
    padding: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .backToHome {
    margin: 3rem 0 0;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .search_section {
    @apply hidden md:flex relative m-[20px] my-0;
    @apply lg:m-[80px] lg:my-0 lg:ml-[20px];
    width: calc(100%);
    max-width: calc(100% - 290px);
  }

  .nav_right {
    @apply w-full flex items-center space-x-4 justify-end;
    max-width: calc(100% - 600px);
    @apply md:max-w-screen-sm lg:max-w-screen-md;
  }

  /* HomePage */

  /* .HomeHero {
    display: flex;
    background-image: url("./assets/images/Homebanner.png");
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    border-radius: 6px;

  }

  .HomeHeroText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin: 48px;
    
    
  }

  .HomeHeroText h1 {
    font-weight: bolder;
    font-size: 5rem;
  }

  .HomeHeroText h3 {
    font-weight: bolder;
    font-size: 1.3rem;
  }

  .HomeHeroText a {
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: rgb(255, 198, 41);
    border-radius: 16px;
    block-size: 40px;
    text-align: center;
    width: 12rem;
  } */
}
